* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#container {
	width: 900px;
	height: 1580px;
	margin: auto;
	overflow: auto;
	background-image: url("img/backgroundv3.jpg");
}

.logo {
	position: relative;
	display: block;
	margin: auto;
	margin-top: 200px;
}

.button {
	height: 150px;
	width: 400px;
	position: relative;
	display: block;
	margin: auto;
	margin-top: 200px;
	background-color: dodgerblue;
	border-radius: 15px;
	font-family: 'Macondo', cursive;
	font-weight: bold;
	font-size: 2.4em;
	color: #fafafa;
	box-shadow: 
			0 12px 2px rgba(0,0,0,.1),
            0 0 10px rgba(0,0,0,.1),
            0 2px 6px rgba(0,0,0,.3),
            0 6px 20px rgba(0,0,0,.2),
            0 10px 20px rgba(0,0,0,.25),
            0 20px 20px rgba(0,0,0,.2),
            0 40px 40px rgba(0,0,0,.15);
}

#howto {
	transition: height 1s, width 1.2s;
}

/*---------------------------

		Selection Screen

----------------------------*/

.title {
	color: #fafafa;
	font-size: 3em;
	font-family: 'Macondo', cursive;
	font-weight: bold;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 50px;
}

.classOption {
	width: 50px;
	display: inline;
	color: #fafafa;
	font-size: 2.5em;
	font-family: 'Macondo', cursive;
	font-weight: bold;
}

#firstOption, #benchFirstOption {
	padding-left: 200px;
}

#secondOption, #benchSecondOption {
	padding-left: 70px;
}

#thirdOption, #benchThirdOption {
	padding-left: 50px;
}

.pieceType {
	height: 100px;
    width: 600px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#pieceLine0 {	
	margin-top: 50px;
}

.selectionPiece {
	padding-left: 62px;
	padding-right: 26px;
}

#selectionDone {
	margin-top: 0;
}

/*---------------------------

			drawBoard

----------------------------*/


#board {
	width: 540px;
	margin: auto;
	padding-top: 40px;
}

.square {
	height: 108px;
	width: 108px;
	display: inline-block;	
}

.line {
	height: 108px;
}

.hidden {
	visibility: hidden;
}

.red {
	background-image: url("img/squares/redsquare.jpg");
	border: 0.5px dashed #cc0000;
}

.yellow {
	background-image: url("img/squares/yellowsquare.jpg");
	border: 0.5px dashed #cc9900;
}

.green {
	background-image: url("img/squares/greensquare.jpg");
	border: 0.5px dashed green;
}

.blue {
	background-image: url("img/squares/bluesquare.jpg");
	border: 0.5px dashed mediumblue;
}

.prison {
	background-image: url("img/squares/blacksquare.jpg");
}

.bench {
	background-image: url("img/squares/whitesquare.jpg");
}

.clock, .scoreCard {
	height: 90px;
	width: 160px;
	margin-top: 10px;
	position: absolute;
	background-color: /*#776853*/dodgerblue;
	box-shadow: 
			0 12px 2px rgba(0,0,0,.1),
            0 0 10px rgba(0,0,0,.1),
            0 2px 6px rgba(0,0,0,.3),
            0 6px 20px rgba(0,0,0,.2),
            0 10px 20px rgba(0,0,0,.25),
            0 20px 20px rgba(0,0,0,.2),
            0 40px 40px rgba(0,0,0,.15);
    transition: height 1.5s, width 1.5s, margin-top 1.5s, margin-left 1.5s, font-size 1.5s, line-height 1.5s;
}

.clock {
	margin-left: 10px;
}

#time, .scoreCard {
	font-family: 'Macondo', cursive;
	color: #fafafa;
	display: inline-block;
	font-weight: bold;
	text-align: center;
	font-size: 50px;
}

#time > div {
	border-radius: 3px;
	display: inline-block;
}

#time div > span {
	border-radius: 3px;
	display: inline-block;
}

.seconds {
	color: red;
}

.colon {
	padding: 15px;
}

#orangeScore {
	margin-top: 114.5px;
	margin-left: 10px;
	background-color: #F34214;
}

#purpleScore {
	margin-top: 220px;
	margin-left: 10px;
	background-color: #890FD5;
}

.coin {
	margin-top: 30px;
}

.piece {
	height: 111px;
	width: 111px;
}

.pieceimg {
	position: absolute;
}

.bench {
	opacity: 0.8;
}

.selected {
	box-shadow: 
			inset 0 12px 2px rgba(0,0,0,.1),
            inset 0 0 10px rgba(0,0,0,.1),
            inset 0 2px 6px rgba(0,0,0,.3),
            inset 0 6px 20px rgba(0,0,0,.2),
            inset 0 10px 20px rgba(0,0,0,.25),
            inset 0 20px 20px rgba(0,0,0,.2),
            inset 0 40px 40px rgba(0,0,0,.15);

    /*background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );*/
}

.availiableMove {
	/*box-shadow: 
			inset 0 24px 4px rgba(102,51,153,.1),
            inset 0 0 20px rgba(102,51,153,.1),
            inset 0 4px 12px rgba(102,51,153,.3),
            inset 0 12px 40px rgba(102,51,153,.2),
            inset 0 20px 40px rgba(102,51,153,.25),
            inset 0 40px 40px rgba(102,51,153,.2),
            inset 0 80px 80px rgba(102,51,153,.15);*/
    background: linear-gradient( rgba(153, 0, 153, 0.6), rgba(153, 0, 153, 0.6) );
}

.availiableAttack {
	/*box-shadow: 
			inset 0 24px 4px rgba(102,51,153,.1),
 
            inset 0 0 20px rgba(102,51,153,.1),
            inset 0 4px 12px rgba(102,51,153,.3),
            inset 0 12px 40px rgba(102,51,153,.2),
            inset 0 20px 40px rgba(102,51,153,.25),
            inset 0 40px 40px rgba(102,51,153,.2),
            inset 0 80px 80px rgba(102,51,153,.15);*/
    background: linear-gradient( rgba(255, 0, 0, 0.6), rgba(255, 0, 0, 0.6) );
}

.lifebar {
	height: 10px;
	width: 100px;
	position: absolute;
	margin-top: 90px;
   	z-index: 1000;
	background-color: green;
}

.attackType {
	position: absolute;
	margin-left: 43px;
   	z-index: 1000;
   	height: 60px;
   	width: 60px;
}

.icewall {
	height: 108px;
	width: 108px;
	position: absolute;
	background-color: dodgerblue;
}

.firewall {
	height: 108px;
	width: 108px;
	position: absolute;
	background-color: red;
}
