* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#container {
	width: 900px;
	margin: auto;
	background-image: url("img/backgroundv3.jpg");
}

#board {
	width: 562.5px;
	margin: auto;
	padding-top: 11.25px;
}

.square {
	height: 112.5px;
	width: 112.5px;
	display: inline-block;	
}

.line {
	height: 112.5px;
}

.hidden {
	visibility: hidden;
}

.red {
	background-image: url("img/squares/redsquare.jpg");
	border: 1px solid #cc0000;
}

.yellow {
	background-image: url("img/squares/yellowsquare.jpg");
	border: 1px solid #cc9900;
}

.green {
	background-image: url("img/squares/greensquare.jpg");
	border: 1px solid green;
}

.blue {
	background-image: url("img/squares/bluesquare.jpg");
	border: 1px solid mediumblue;
}

.clock, .scoreCard {
	height: 90px;
	width: 270px;
	margin-top: 10px;
	position: absolute;
	background-color: purple;
	box-shadow: 
			0 12px 2px rgba(0,0,0,.1),
            0 0 10px rgba(0,0,0,.1),
            0 2px 6px rgba(0,0,0,.3),
            0 6px 20px rgba(0,0,0,.2),
            0 10px 20px rgba(0,0,0,.25),
            0 20px 20px rgba(0,0,0,.2),
            0 40px 40px rgba(0,0,0,.15);
}

.clock {
	margin-left: 10px;
}

.scoreCard {
	margin-left: 620px;
}